<app-profile-search (usernameEntered)="userSearch($event)"></app-profile-search>

@if(herosError|| reposError){
<section class="border border-black m-2">
    <div class=" bg-red-300  m-2">
        {{herosError}}
    </div>
    <div class="bg-red-300 m-2">
        {{reposError}}
    </div>
</section>
}

@else if (showbody) {
<section class="border border-black m-2">
    <app-skeleton-loader *ngIf="!loaded"></app-skeleton-loader>
    <app-profile-body *ngIf="loaded" [herosApi]="herosData" [reposApi]="reposData"></app-profile-body>
</section>
}