@if(herosApi){
<section class=" py-3">
    <div class="px-20 flex flex-wrap">
        <div class="w-3/12">
            <div class=" w-auto h-auto border border-black rounded-full flex justify-center align-middle">
                <img src={{herosApi.avatar_url}} alt="profile-photo"
                    class="w-[100%] h-[100%] rounded-full text-center" />
            </div>
            <div>
                <a [href]="herosApi.html_url" class="break-words">{{herosApi.html_url}}</a>
            </div>
        </div>
        <div class=" w-9/12 ps-12 flex justify-start align-middle">
            <div class="pt-10 pb-10">
                <h1 class="text-4xl font-medium mt-4 mb-2">{{herosApi.name}}</h1>
                <p class=" mt-2 mb-2">{{herosApi.bio}}</p>
                <div class=" flex align-middle mt-2 mb-2">
                    <fa-icon [icon]="faLocationDot"></fa-icon>
                    <p class="ps-3">{{herosApi.location}}</p>
                </div>
                @if(herosApi.twitter_username){
                <div class="mt-2 mb-2">
                    Twitter:
                    <a
                        [href]="'https://twitter.com/' + herosApi.twitter_username">https://twitter.com/{{herosApi.twitter_username}}</a>
                </div>
                }
            </div>
        </div>
    </div>
</section>
}